/*variables generales definicion*/
:root {
    --color-azul: #056addec; 
    --color-crema: #f9f9f9; 
    --color-negro: #000000; 
  }

  body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--color-crema);

  }


  hr {
    border: 0;
    height: 1px;
    background-color: var(--color-azul); /* Color de la línea */
    margin: 20px 0; /* Espacio vertical alrededor de la línea */
}

h3 {
    margin-right: 30px;
    font-size: 15px;
    color: #0a488b;
    margin-bottom: 0.5em;
    justify-content: center;
}


  /*Estilo del encabezado*/

  header {
    background-image: url('/img/fondo.avif'); /* Reemplaza con la ruta de tu imagen */
    background-size: cover; /* La imagen cubre todo el header */
    background-position: center; /* Centra la imagen */
    color: white; /* Texto blanco */
    padding: 60px;
    text-align: center;
}

header h1 {
    font-family: 'Times New Roman', Times, serif;
    size: 300px;
    margin: 0;
    letter-spacing: 2px;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.777);
}

/* Estilo del menú de navegación */
nav #Inicio{
    margin-top: 40px;
}

nav ul {
    list-style: none;
    padding: 0;
    justify-content: center;
}

nav ul li {
    display: inline; /* Elementos en línea */
    margin-right: 15px;
}

nav ul li a {
    font-weight: bold;
    color: white; /* Texto blanco */
    text-decoration: none; /* Sin subrayado */
    size: 20px;
}

nav ul li a:hover {
    text-decoration: underline; /* Subrayado al pasar el ratón */
}

/*Título de cada sección*/
h2{
    color: var(--color-azul);
    font-size: 20px;
    text-transform: uppercase; 
    font-weight: bold; 
    margin-top: 25px;
    margin-left: 10px;
    margin-bottom: 20px;
    text-decoration: underline;

}

/*Estilo de la Desccripcion*/
#descripción {
    margin: 20px;
}

#descripción article {
    display: flex;
    align-items: space-around; /* Alinea la imagen y el texto al centro verticalmente */
    gap: 30px; /* Espacio entre la imagen y el texto */
  }
  
  article img {
    flex: 1; /* La imagen ocupará el 50% del ancho */
    max-width: 40%; /* Asegura que la imagen no exceda su espacio */
    height: auto; /* Mantiene la proporción de la imagen */
  }
  
  #texto {
    flex: 1; /* El texto ocupará el otro 50% del ancho */
    text-align: left;
    justify-content: space-around;
  }



/*Estilo tabla beneficios*/

#beneficios table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 60px;

}

#beneficios th {
    background-color: #007BFF; 
    color: white; 
    padding: 12px;
    text-align: left;
    border: 2px solid black;
}

#beneficios td {
    padding: 12px;
    border: 1px solid #ddd;
    text-align: left;
    border-width: 2px;
    border-color: black;
}

#beneficios tr{
    background-color: white;
}

/*#beneficios tr:nth-child(even) {
    background-color: azure; 
}*/

/* Estilo de aplicaciones*/

#aplicaciones{
    background-color: #f9f9f9;
}

#aplicaciones ul{
    line-height: 1.5;
}

#aplicaciones li{
    padding: 8px;
}

#aplicaciones p{
    margin-left: 40px;
}

/*Estilo de beneficios
#evolución h2{
    margin-bottom: 20px;
}
#evolución {
    display:flex;
    justify-content: space-around;
  }
  
  #evolución article {
    width: 30%;
    padding: 10px;
    border: 1px solid #ccc;
  }
  
  article img {
    width: 100%;
    height: 200px;;
    margin-bottom: 10px;
  }*/



#evolución {
    margin: 20px;
    justify-content: space-between;
}

#evolucion div{
    margin-top: 40px;
    margin:20px;
}

#evolucion article {
    display: flex;
    align-items: center; /* Alinea todas las imágenes al centro vertical */
    gap: 10px; /* Espacio entre imágenes */
    width:70%;
  }
  
  #imagenes img {
    width: 80%;
    max-width: 300px;
    height: 80%;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin-bottom: 10px;
  }
  
  #imagenes .flecha {
    width: 50px; /* Tamaño más pequeño para las flechas */
    height: auto; /* Mantiene la proporción */
    box-shadow: none;
    border-radius: 0%;
  }


#evolución p {
    color: black;
    text-align: left;
    justify-content: center;
    line-height: 1.6;
    margin-top: 15px;
}


/*Estilo del pie de página*/
footer {
    background-image: url('/img/fondo1.jpeg'); /* Ruta de la imagen de fondo */
    background-size: cover;
    background-position: center;
    color: white;
    text-align: center;
    padding: 50px;
    position: relative;
    overflow: hidden;
}

footer::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Oscurece la imagen de fondo para que el texto sea legible */
    z-index: 1;
}

footer p, footer a {
    position: relative;
    z-index: 2;
    color: #f0f0f0;
    font-size: 1em;
    margin: 5px 0;
}

footer a {
    color: #add8e6; /* Color azul claro para los enlaces */
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}


